{% extends "base.html" %}

{% block main %}


<form action="" method="POST">
    {% csrf_token %}
    体重（キログラム）：<input type="text" name="weight" value="{{ result.weight }}">
    <br>
    身長（センチメートル）：<input type="text" name="height" value="{{ result.height }}">
    <br>
    <button type="submit" id="btn-submit" class="btn btn-primary">BMIの計算</button>
</form>


BMI：<input type="text" name="bmi" value="{{ result.bmi }}">

<br>
<div>
    <h3>BMIとは？</h3>
    <p>"Body mass index"の略称で、日本語では「ボディマス指数」と呼ばれます。</p>
    <p>体重と身長をもとに、肥満度を表す指数です。</p>
    <p>似たような指数に「カウプ指数」「ローレル指数」がありますが、以下のように対象が異なります。</p>
    <p>カウプ指数：幼児</p>
    <p>ローレル指数：児童（小学生〜中学生）</p>
    <p>BMI：成人（高校生以上）</p>
</div>
<br>
<div>
<h3>計算方法</h3>
<p>BMI＝（体重[kg] ÷ 身長[m]の２乗）</p>

<p>（例）</p>
<p>体重60kg、身長170cmの場合</p>
<p>(60kg ÷ 1.7m × 1.7m)  ＝20.7　∴BMIは「20.7」</p>
</div>
<br>
<div>
<h3>指数の目安（WHO）</h3>
<p>18.5未満：低体重</p>
<p>18.5〜25.0：標準</p>
<p>25.0〜30.0：太り気味</p>
<p>30.0以上：肥満</p>
</div>
<br>
<div>
    <h3>指数の目安（日本肥満学会）</h3>
    <p>18.5未満：低体重</p>
    <p>18.5〜25.0：標準</p>
    <p>25.0〜35.0：肥満</p>
    <p>35.0以上：高度肥満</p>
</div>

{% endblock %}
