{% extends "base.html" %}

{% block extraheader %}
{% load static %}
<link rel="stylesheet" href="{% static 'bmi/css/style.css' %}">
{% endblock %}

{% block main %}

<h2>BMIを計算しよう！</h2>
<form action="" method="POST">
    {% csrf_token %}
    体重（キログラム）：<input type="text" name="weight" value="{{ result.weight }}">
    <br>
    身長（センチメートル）：<input type="text" name="height" value="{{ result.height }}">
    <br>
    <button type="submit" id="btn-submit" class="btn btn-primary">BMIの計算</button>
</form>


BMIの計算結果：<input type="text" name="bmi" value="{{ result.bmi }}">
<hr>
<div class="paragraph">
    <h3>BMI（Body mass index）とは？</h3>
    <p class="inner-paragraph">"Body mass index"の略称で、日本語では「ボディマス指数」と呼ばれます。</p>
    <p class="inner-paragraph">体重と身長をもとに、肥満度を表す指数です。</p>
    <p class="inner-paragraph">似たような指数に「カウプ指数」「ローレル指数」がありますが、以下のように対象が異なります。</p>
    <table>
        <thead>
            <th>指数の名称</th>
            <th>対象</th>
        </thead>
        <tr>
            <td>カウプ指数</td>
            <td>幼児</td>
        </tr>
        <tr>
            <td>ローレル指数</td>
            <td>児童（小学生〜中学生）</td>
        </tr>
        <tr>
            <td>BMI</td>
            <td>成人（高校生以上）</td>
        </tr>
    </table>

</div>
<div class="paragraph">
    <h3>BMIの計算方法</h3>
    <p>BMI＝（体重[kg] ÷ 身長[m]の２乗）</p>

    <p class="inner-paragraph">（例）</p>
    <p class="inner-paragraph">体重60kg、身長170cmの場合</p>
    <p class="inner-paragraph">(60kg ÷ 1.7m × 1.7m)  ＝20.7　∴BMIは「20.7」</p>
</div>

<div class="paragraph">
    <h3>BMIの目安</h3>
    <div class="table-flex">
    <table>
        <thead>
            <tr>
                <th colspan="2">WHOの基準</th>
            </tr>
        </thead>
        <thead>
            <th>値</th>
            <th>判定</th>
        </thead>
        <tr>
            <td>18.5未満</td>
            <td>低体重</td>
        </tr>
        <tr>
            <td>18.5〜25.0</td>
            <td>標準</td>
        </tr>
        <tr>
            <td>25.0〜30.0</td>
            <td>太り気味</td>
        </tr>
        <tr>
            <td>30.0以上</td>
            <td>肥満</td>
        </tr>
    </table>
    
    <table>
        <thead>
            <tr>
                <th colspan="2">日本肥満学会の基準</th>
            </tr>
        </thead>
        <thead>
            <th>値</th>
            <th>判定</th>
        </thead>
        <tr>
            <td>18.5未満</td>
            <td>低体重</td>
        </tr>
        <tr>
            <td>18.5〜25.0</td>
            <td>標準</td>
        </tr>
        <tr>
            <td>25.0〜35.0</td>
            <td>肥満</td>
        </tr>
        <tr>
            <td>35.0以上</td>
            <td>高度肥満</td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}
