{% extends "base.html" %}
{% load humanize %}

{% block extraheader %}
{% load static %}
<title>過去の財務諸表を使って企業価値を算定しよう！|簡易企業価値評価</title>
<meta name="description" content="3期分の財務諸表を使い、DCF法による企業価値を算定できます。">
<link rel="stylesheet" href="{% static 'valuation/css/style.css' %}">
<!-- エンターキー受付 -->
<script>
    function keydown( e )
    {
        if( e.keyCode == 13){
            var obj = document.activeElement;
            obj.nextElementSibling.focus();
        }
    }

window.onkeydown = keydown;
</script>
<!-- 桁区切り -->
<!-- https://khirok.hatenadiary.jp/entry/3-digit-easy -->
<script>
    function threeDigit(id) {
        $(document).on('blur', id, function(){
            var inputVal = $(this).val().replace( /,/g , "");
            $(this).val(Number(inputVal).toLocaleString());
        })
    }
    
    threeDigit('#number');
</script>

{% endblock %}
{% block main %}
<!-- パンくずリスト start -->
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="https://input-and-output.com">
            <span itemprop="name">ホーム</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="https://input-and-output.com/valuation/">
            <span itemprop="name">簡易企業価値評価</span>
        </a>
        <meta itemprop="position" content="2" />
    </li>
</ol>
<!-- パンくずリスト end -->

<!-- POSTの時に表示：企業価値評価結果 -->

<div class="container mt-4">
    <h3>DCF法による企業価値評価結果</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="4">成長率</th>
            </tr>
            <tr>
                <th scope="col"> </th>
                <th scope="col">{{ grows_rate_01 }}%<br><br></th>
                <th scope="col">{{ grows_rate_06 }}%<br><br></th>
                <th scope="col">{{ grows_rate_11 }}%<br><br></th>
                <th scope="col">{{ grows_rate_16 }}%<br><br></th>
                <th scope="col">{{ grows_rate_21 }}%<br><br></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">割引率</th>
                <td class="result"> </td>
                <td class="result"> </td>
                <td class="result"> </td>
                <td class="result"> </td>
                <td class="result"> </td>
            </tr>
            <tr>
                <th scope="row">{{ wacc_adj_01 }}%</th>
                <td class="result">{{ valuation_01| intcomma }}</td>
                <td class="result">{{ valuation_06| intcomma }}</td>
                <td class="result">{{ valuation_11| intcomma }}</td>
                <td class="result">{{ valuation_16| intcomma }}</td>
                <td class="result">{{ valuation_21| intcomma }}</td>
            </tr>
            <tr>
                <th scope="row">{{ wacc_adj_02 }}%</th>
                <td class="result">{{ valuation_02| intcomma }}</td>
                <td class="result">{{ valuation_07| intcomma }}</td>
                <td class="result">{{ valuation_12| intcomma }}</td>
                <td class="result">{{ valuation_17| intcomma }}</td>
                <td class="result">{{ valuation_22| intcomma }}</td>
            </tr>
            <tr>
                <th scope="row">{{ wacc_adj_03 }}%</th>
                <td class="result">{{ valuation_03| intcomma }}</td>
                <td class="result">{{ valuation_08| intcomma }}</td>
                <td class="result">{{ valuation_13| intcomma }}</td>
                <td class="result">{{ valuation_18| intcomma }}</td>
                <td class="result">{{ valuation_23| intcomma }}</td>
            </tr>
            <tr>
                <th scope="row">{{ wacc_adj_04 }}%</th>
                <td class="result">{{ valuation_04| intcomma }}</td>
                <td class="result">{{ valuation_09| intcomma }}</td>
                <td class="result">{{ valuation_14| intcomma }}</td>
                <td class="result">{{ valuation_19| intcomma }}</td>
                <td class="result">{{ valuation_24| intcomma }}</td>
            </tr>
            <tr>
                <th scope="row">{{ wacc_adj_05 }}%</th>
                <td class="result">{{ valuation_05| intcomma }}</td>
                <td class="result">{{ valuation_10| intcomma }}</td>
                <td class="result">{{ valuation_15| intcomma }}</td>
                <td class="result">{{ valuation_20| intcomma }}</td>
                <td class="result">{{ valuation_25| intcomma }}</td>
                <!-- https://stackoverflow.com/questions/46144767/how-to-format-a-float-number-in-python-flask-and-jinja -->
            </tr>
        </tbody>
    </table>
    <div id="footnote">
        <p>（単位：千円）</p>
    </div>

    <div id="footnote">
        <p>NOPAT: {{ nopat| intcomma }}千円 | FCF: {{ free_cash_flow| intcomma }} 千円</p>
        <p>営業CF: {{ operating_cf| intcomma }} 千円 |投資CF: {{ investment_cf| intcomma }} 千円 | 財務CF: {{ financial_cf| intcomma }} 千円</p>
        <p>ROIC（税引前）: {{ roic_bf_tax }} % | ROIC（税引後）: {{ roic }} %</p>
    </div>
<!-- GETの時は評価結果を表示しない -->

<div class="container mt-4">
    <h2>財務数値の入力ページ</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <p class="title-fs">損益計算書(P/L）に関する財務数値</p>
        <div class="table">
            <div class="tr">
                <div class="td">入力項目</div>
                <div class="td">前々年度</div>
                <div class="td">前年度</div>
                <div class="td">直近決算期</div>
                <div class="td">備考</div>
            </div>
            <div class="tr">
                <div class="th">年度</div>
                    <div class="td"><input name="year_before_last" type="date" min="2018-01-01" max="2025-12-31" value="2020-03-31">年</div>
                    <div class="td"><input name="last_year" type="date" min="2018-01-01" max="2025-12-31" value="2021-03-31">年</div>
                    <div class="td"><input name="this_year" type="date" min="2018-01-01" max="2025-12-31" value="2022-03-31">年</div>
                    <div class="td"><p class="detail">決算期を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">売上高</div>
                    <div class="td"><input name="ybl_net_sales" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_net_sales" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="net_sales" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">売上高、役務収益等の、売上合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">売上原価</div>
                    <div class="td"><input name="ybl_cogs" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_cogs" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="cogs" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">売上原価の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">販売費及び一般管理費</div>
                    <div class="td"><input name="ybl_sga" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_sga" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="sga" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">販売費及び一般管理費の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">営業利益</div>
                    <div class="td"><input name="ybl_operating_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_operating_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="operating_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">営業損益の金額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">受取利息・配当金</div>
                    <div class="td"><input name="ybl_interest_and_dividends_income" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_interest_and_dividends_income" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="interest_and_dividends_income" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">受取利息、有価証券利息、受取配当金の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">持分法投資損益</div>
                    <div class="td"><input name="ybl_equity_in_earnings_or_losses_of_affiliates" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_equity_in_earnings_or_losses_of_affiliates" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="equity_in_earnings_or_losses_of_affiliates" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">持分法投資利益、持分法投資損失の純額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">支払利息</div>
                    <div class="td"><input name="ybl_interest_expenses" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_interest_expenses" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="interest_expenses" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">支払利息、社債利息の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">経常利益</div>
                    <div class="td"><input name="ybl_ordinary_income_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_ordinary_income_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ordinary_income_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">経常損益の金額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">特別損益</div>
                    <div class="td"><input name="ybl_extraordinary_income_and_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_extraordinary_income_and_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="extraordinary_income_and_loss" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">特別利益と特別損失の純額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">税引前当期純利益</div>
                    <div class="td"><input name="ybl_income_before_income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_income_before_income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="income_before_income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">税引前当期純損益（連結決算をしている場合には「税金等調整前当期純損益」）の金額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">法人税等</div>
                    <div class="td"><input name="ybl_income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="income_taxes" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">税金費用（「法人税・住民税・事業税」、「過年度法人税等」、「法人税等調整額」）を合算して入力してください。<br>還付や法人税等調整額の影響で税金費用がマイナス（利益）となる場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">非支配株主持分に帰属する当期純利益</div>
                    <div class="td"><input name="ybl_profit_loss_attributable_to_non_controling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_profit_loss_attributable_to_non_controling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="profit_loss_attributable_to_non_controling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">連結決算をしていない場合には「０」と入力してください。<br>非支配株主持分に帰属する当期純損益の金額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">（親会社株主に帰属する）当期純利益</div>
                    <div class="td"><input name="ybl_profit_loss_attributable_to_owners_of_parent" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_profit_loss_attributable_to_owners_of_parent" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="profit_loss_attributable_to_owners_of_parent" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">当期純損益（連結決算をしている場合には「親会社株主に帰属する当期純利益」）の金額を入力してください。損失の場合には、マイナスで入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">減価償却費（売上原価・販管費）</div>
                    <div class="td"><input name="ybl_depreciation" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_depreciation" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="depreciation" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">売上原価と販管費に含まれる「減価償却費」の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">のれん償却費</div>
                    <div class="td"><input name="ybl_amortization_goodwill" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_amortization_goodwill" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="amortization_goodwill" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">販管費に含まれる「のれん償却費」の合計金額を入力してください。</p></div>
            </div>
            <div class="tr">
                <div class="th">減損損失</div>
                    <div class="td"><input name="ybl_impairment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_impairment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="impairment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">特別損失に計上された「減損損失」の合計金額を入力してください。</p></div>
            </div>
        </div>

        <p class="title-fs">貸借対照表(B/S）に関する財務数値</p>
        <div class="table">
            <div class="tr">
                <div class="td">入力項目</div>
                <div class="td">前々年度（T-2期）</div>
                <div class="td">前年度（T-1期）</div>
                <div class="td">当年度（T期）</div>
                <div class="td">備考</div>
            </div>

            <div class="tr">
                <div class="th">現金預金</div>
                    <div class="td"><input name="ybl_cash_and_deposits" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_cash_and_deposits" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="cash_and_deposits" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">有価証券</div>
                    <div class="td"><input name="ybl_securities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_securities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="securities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">受取手形及び売掛金（貸倒引当金控除後）</div>
                    <div class="td"><input name="ybl_notes_and_accounts_receivable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_notes_and_accounts_receivable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="notes_and_accounts_receivable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">棚卸資産</div>
                    <div class="td"><input name="ybl_inventories" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_inventories" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="inventories" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">繰延税金資産（流動）</div>
                    <div class="td"><input name="ybl_deferred_tax_assets_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_deferred_tax_assets_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="deferred_tax_assets_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">流動資産　合計</div>
                    <div class="td"><input name="ybl_current_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_current_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="current_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">有形固定資産　合計</div>
                    <div class="td"><input name="ybl_property_plant_and_equipment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_property_plant_and_equipment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="property_plant_and_equipment" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">無形固定資産　合計</div>
                    <div class="td"><input name="ybl_intangible_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_intangible_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="intangible_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">繰延税金資産（固定）</div>
                    <div class="td"><input name="ybl_deferred_tax_assets_ioa" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_deferred_tax_assets_ioa" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="deferred_tax_assets_ioa" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">投資その他の資産　合計</div>
                    <div class="td"><input name="ybl_investments_and_other_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_investments_and_other_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="investments_and_other_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">資産　合計</div>
                    <div class="td"><input name="ybl_total_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_total_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="total_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">短期有利子負債</div>
                    <div class="td"><input name="ybl_short_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_short_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="short_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">短期借入金、一年内返済予定借入金、短期社債、短期リース債務</p></div>
            </div>
            <div class="tr">
                <div class="th">仕入債務（支払手形、買掛金）</div>
                    <div class="td"><input name="ybl_notes_and_accounts_payable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_notes_and_accounts_payable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="notes_and_accounts_payable_trade" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">繰延税金負債（流動）</div>
                    <div class="td"><input name="ybl_deferred_tax_liabilities_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_deferred_tax_liabilities_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="deferred_tax_liabilities_ca" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">流動負債　合計</div>
                    <div class="td"><input name="ybl_current_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_current_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="current_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">長期有利子負債</div>
                    <div class="td"><input name="ybl_long_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_long_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="long_term_interest_bearing_bond" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail">長期借入金、社債、長期リース債務</p></div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">繰延税金負債（固定）</div>
                    <div class="td"><input name="ybl_deferred_tax_liabilities_ncl" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_deferred_tax_liabilities_ncl" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="deferred_tax_liabilities_ncl" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">固定負債　合計</div>
                    <div class="td"><input name="ybl_noncurrent_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_noncurrent_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="noncurrent_liabilities" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">資本金</div>
                    <div class="td"><input name="ybl_capital_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_capital_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="capital_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">資本剰余金</div>
                    <div class="td"><input name="ybl_capital_surplus" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_capital_surplus" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="capital_surplus" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">利益剰余金</div>
                    <div class="td"><input name="ybl_retained_earnings" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_retained_earnings" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="retained_earnings" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">自己株式（マイナスで入力）</div>
                    <div class="td"><input name="ybl_treasury_stock" type="number" min="-10000000000000" max="0" value="0">千円</div>
                    <div class="td"><input name="ly_treasury_stock" type="number" min="-10000000000000" max="0" value="0">千円</div>
                    <div class="td"><input name="treasury_stock" type="number" min="-10000000000000" max="0" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">その他包括利益（評価・換算差額）　合計</div>
                    <div class="td"><input name="ybl_accumulated_other_comprehensive_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_accumulated_other_comprehensive_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="accumulated_other_comprehensive_income" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">新株予約権</div>
                    <div class="td"><input name="ybl_subscription_rights_to_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_subscription_rights_to_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="subscription_rights_to_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">非支配株主持分</div>
                    <div class="td"><input name="ybl_non_controlling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_non_controlling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="non_controlling_interests" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">純資産　合計</div>
                    <div class="td"><input name="ybl_net_assets" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_net_assets" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="net_assets" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">負債・純資産　合計</div>
                    <div class="td"><input name="ybl_liabilities_and_net_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_liabilities_and_net_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="liabilities_and_net_assets" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
        </div>

        <p class="title-fs">株主資本等変動計算書(S/S）に関する財務数値</p>
        <div class="table">
            <div class="tr">
                <div class="td">入力項目</div>
                <div class="td">前々年度（T-2期）</div>
                <div class="td">前年度（T-1期）</div>
                <div class="td">当年度（T期）</div>
                <div class="td">備考</div>
            </div>

            <div class="tr">
                <div class="th">前期末純資産　合計</div>
                    <div class="td"><input name="ybl_net_assets_py" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_net_assets_py" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="net_assets_py" type="number" min="-10000000000000" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">新株の発行</div>
                    <div class="td"><input name="ybl_issuance_of_new_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_issuance_of_new_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="issuance_of_new_shares" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">配当金</div>
                    <div class="td"><input name="ybl_dividends_ss" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_dividends_ss" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="dividends_ss" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">自己株式の取得</div>
                    <div class="td"><input name="ybl_purchase_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_purchase_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="purchase_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">自己株式の処分</div>
                    <div class="td"><input name="ybl_disposal_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_disposal_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="disposal_of_treasury_stock" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
        </div>

        <p class="title-fs">その他の情報（注記情報等）に関する財務数値</p>
        <div class="table">
            <div class="tr">
                <div class="td">入力項目</div>
                <div class="td">前々年度（T-2期）</div>
                <div class="td">前年度（T-1期）</div>
                <div class="td">当年度（T期）</div>
                <div class="td">備考</div>
            </div>
            <div class="tr">
                <div class="th">発行済株式総数</div>
                    <div class="td"><input name="ybl_total_number_of_issued_shares" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><input name="ly_total_number_of_issued_shares" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><input name="total_number_of_issued_shares" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">自己株式数</div>
                    <div class="td"><input name="ybl_number_of_shares_held_in_own_name" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><input name="ly_number_of_shares_held_in_own_name" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><input name="number_of_shares_held_in_own_name" type="number" min="0" max="10000000000000" value="0">株</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">1株あたり配当金額</div>
                    <div class="td"><input name="ybl_dividend_paid_per_share" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="ly_dividend_paid_per_share" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><input name="dividend_paid_per_share" type="number" min="0" max="10000000000000" value="0">千円</div>
                    <div class="td"><p class="detail"></p></div>
            </div>
            <div class="tr">
                <div class="th">法定実効税率</div>
                    <div class="td"><input name="ybl_effective_tax_rate" type="number" step="0.01" min="-100.00" max="100.00" value=30.00>％</div>
                    <div class="td"><input name="ly_effective_tax_rate" type="number" step="0.01" min="-100.00" max="100.00" value=30.00>％</div>
                    <div class="td"><input name="effective_tax_rate" type="number" step="0.01" min="-100.00" max="100.00" value=30.00>％</div>
                    <div class="td"><p class="detail">法定実効税率がわかる場合には入力してください（わからない場合には30%として算定します）</p></div>
            </div>
            <div class="tr">
                <div class="th">借入利率</div>
                    <div class="td"><input name="" value="---" disabled></div>
                    <div class="td"><input name="" value="---" disabled></div>
                    <div class="td"><input name="borrowing_interest_rate" type="number" step="0.01" min="0.00" max="100.00" value="1.00">％</div>
                    <div class="td"><p class="detail">借入金の平均利率を入力してください</p></div>
            </div>
        </div>

        <button type="button" onclick="submit();" class="btn btn-primary">Valuationの実施</button>

    </form>
</div>
{% endblock %}