{% extends "base.html" %}

{% block extraheader %}
{% load static %}
<title>blog</title>
<meta name="description" content="作成したappのこととか。">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block main %}
<!-- パンくずリスト start -->
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="https://input-and-output.com">
          <span itemprop="name">ホーム</span>
      </a>
      <meta itemprop="position" content="1" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="https://input-and-output.com/blog/blog_list/">
          <span itemprop="name">blog</span>
      </a>
      <meta itemprop="position" content="2" />
  </li>
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="https://input-and-output.com/blog/blog_detail/{{ post.pk }}/">
          <span itemprop="name">{{ post.title }}</span>
      </a>
      <meta itemprop="position" content="3" />
  </li>
</ol>
<!-- パンくずリスト end -->


<table>
  <tr>
    <th>タイトル</th>
    <td>{{ post.title }}</td>
  </tr>
  <tr>
    <th>本文</th>
    <td>{{ post.text | linebreaksbr}}</td>
  </tr>
  <tr>
    <th>日付</th>
    <td>{{ post.date }}</td>
  </tr>
</table>

{% endblock %}
