{% extends "base.html" %}

{% block extraheader %}
{% load static %}
<link rel="stylesheet" href="{% static 'top_page/css/style.css' %}">
{% endblock %}

{% block main %}

<!-- パンくずリスト start -->
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="https://input-and-output.com">
            <span itemprop="name">ホーム</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
</ol>
<!-- パンくずリスト end -->

<body>
    <div class="parent-grid">
        <div class="article-area">
            <a class="article-link" href="{% url 'kaup' %}">
             <h3>カウプ指数の計算</h3>
             <div>乳幼児用のBMIを計算できます。</div>
            </a>
        </div>
        <div class="article-area">
            <a class="article-link" href="{% url 'bmi' %}">
             <h3>BMIの計算</h3>
             <div>成人用のBMIを計算できます。</div>
            </a>
        </div>
        <div class="article-area">
            <a class="article-link" href="{% url 'valuation' %}">
             <h3>簡易企業価値評価</h3>
             <div>過去の財務情報を使ってDCF法に基づく企業価値を計算できます。</div>
            </a>
        </div>  
    </div>
</body>

{% endblock %}