{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>InputAndOutput</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'top_page/css/styletest.css' %}">
    <script src="{% static 'top_page/js/script.js' %}"></script>    
</head>

<body>
    <div class="container">
        <a href="{% url 'kaup' %}">
            <div class="grid-item">
                <p>カウプ指数の計算</p>
            </div>
        </a>
        <a href="{% url 'bmi' %}"><div class="grid-item">BMIの計算</div></a>
        <div class="grid-item">準備中</div>
        <div class="grid-item">準備中</div>
        <div class="grid-item">準備中</div>
        <div class="grid-item">準備中</div>  
    </div>        
</body>

</html>