{% load static %}
{% load django_bootstrap5 %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>InputAndOutput</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% if GOOGLE_ANALYTICS_TRACKING_ID %}
            {% include 'ga.html' %}
        {% endif %}
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">input → output</a>
                <ul class="navbar-nav mr-md-2">
                    <li class="nav-item"><a href="{% url 'kaup' %}" class="nav-link">KAUP</a></li>
                    <li class="nav-item"><a href="{% url 'bmi' %}" class="nav-link">BMI</a></li>
                    <li class="nav-item"><a href="{% url 'valuation' %}" class="nav-link">VALUATION</a></li>
                    <li class="nav-item"><a href="{% url 'blog:blog_list' %}" class="nav-link">BLOG</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">hoge</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>