{% load static %}
{% load django_bootstrap5 %}

<html>
    <head>
        <meta charset="utf-8">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9136569305363044" crossorigin="anonymous"></script>
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">input → output</a>
                <ul class="navbar-nav mr-md-2">
                    <li class="nav-item"><a href="{% url 'blog:blog_list' %}" class="nav-link">blog</a></li>
                    <li class="nav-item"><a href="" class="nav-link">hoge</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>