{% extends "base.html" %}

{% block extraheader %}
{% load static %}
<title>簡易品詞分解ツール</title>
<meta name="description" content="品詞分解を簡単に行えます。">
<link rel="stylesheet" href="{% static 'hinshi/css/style.css' %}">
{% endblock %}
{% block main %}

<!-- パンくずリスト start -->
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="https://input-and-output.com">
            <span itemprop="name">ホーム</span>
        </a>
        <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="https://input-and-output.com/hinshi-check/">
            <span itemprop="name">品詞チェッカー</span>
        </a>
        <meta itemprop="position" content="2" />
    </li>
</ol>
<!-- パンくずリスト end -->

<h2>品詞分解</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <table class="table-style">
            <tr>
                <td class="table-cell">テキスト</td>
                <td class="input-text"><input type="text" name="text" value="{{ text }}"></td>
            </tr>
        </table>
    </div>
    <div>
        <button type="submit" id="btn-submit" class="btn btn-primary">品詞分解スタート</button>
    </div>
</form>

<div>
    <table class="table-style">
        <tr>
            <th class="table-cell">単語</th>
            <th class="table-cell">品詞</th>
            <th class="table-cell">品詞細分類1</th>
            <th class="table-cell">品詞細分類2</th>
            <th class="table-cell">品詞細分類3</th>
            <th class="table-cell">活用型</th>
            <th class="table-cell">活用形</th>
            <th class="table-cell">基本形、見出し語</th>
            <th class="table-cell">読み</th>
        </tr>
        {% for surface, part_of_speech_0, part_of_speech_1, part_of_speech_2, part_of_speech_3, infl_type, infl_form, base_form, reading in results %}
        <tr>
            <td class="table-cell"> {{ surface }}</td>
            <td class="table-cell"> {{ part_of_speech_0 }}</td>
            <td class="table-cell"> {{ part_of_speech_1 }}</td>
            <td class="table-cell"> {{ part_of_speech_2 }}</td>
            <td class="table-cell"> {{ part_of_speech_3 }}</td>
            <td class="table-cell"> {{ infl_type }}</td>
            <td class="table-cell"> {{ infl_form }}</td>
            <td class="table-cell"> {{ base_form }}</td>
            <td class="table-cell"> {{ reading }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
