@media screen and(min-width:480px) {
    main {
        width: 100%;
    }
}

@media screen and(max-width:960px) {
    main {
        width: 100%;
    }
}

/* breadcrumbs start */
.breadcrumb {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline;
    list-style: none;
  }
  
  .breadcrumb li:after {
    content: '>';
    padding: 0 0.2em;
    color: #555;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: #495057;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
  /* breadcrumbs end */
  